img {
  width: 300px;
}

.randomWord {
  font-size: 30px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.letterButtons {
  border: solid 1px black;
  margin: 5px 350px 0 340px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

.letterButtons li {
  font-size: 20px;
  margin-right: 10px;
}
